@use 'variables';
@use 'faq';

.faqs-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
    margin-block-start: clamp(-6rem, -1vw, -12rem);
    margin-inline-start: calc(1rem + 1vw);
    margin-inline-end: calc(1rem + 1vw);
    margin-block-end: calc(1rem + 1vw);
    background-color: variables.$white;
    padding: calc(1.5rem + 1vw);
    z-index: 1;
    max-width: 36rem;

    @include variables.respond(sm) {
        margin-inline-start: auto;
        margin-inline-end: auto;
    }

    h1 {
        font-size: variables.$fs-xxxl;
    }
}

.faqs-title-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.faqs-items-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    > *:not(:last-child) {
        border-bottom: solid 0.1rem variables.$purple-100;
    }
}
